<?xml version="1.0" encoding="UTF-8"?>
<!--
    @Deprecated
    Replaced by SpringBoot with auto-configuration and component scan
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ackConsumerHandler" class="cz.vutbr.fit.communication.consumer.handler.AcknowledgementConsumerHandler"/>

    <bean id="handlerManager" class="cz.vutbr.fit.communication.consumer.handler.HandlerManager">
        <util:map id="handlers"
                  key-type="communication.command.Command"
                  value-type="communication.consumer.handler.ICommandHandler">
            <entry key="HANDLE_RESPONSE" value-ref="ackConsumerHandler"/>
        </util:map>
    </bean>

    <bean id="commandBuilder" class="cz.vutbr.fit.communication.command.builder.KafkaResponseCommandBuilder"/>

</beans>